<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</script>
  </head>
  <body>
    <h1>WELCOME</h1>
    <p align="center"><a href=http://127.0.0.1:5000/dashprocess/ ><button class="btn btn-primary" style="height:75px;width:150px">Process files</button></a></p>

    <p align="center"><a href=http://127.0.0.1:5000/dashlive/ ><button class="btn btn-info" style="height:75px;width:150px">live graphs</button></a></p>

    <p align="center"><a href=http://127.0.0.1:5000/dashmodel/ ><button class="btn btn-primary" style="height:75px;width:150px">Model</button></a></p>

    <p align="center"><a href=http://127.0.0.1:5000/dashapp/ ><button class="btn btn-info" style="height:75px;width:150px">graphs</button></a></p>



  </body>
</html>
